*,
*::before,
*::after {
    box-sizing: border-box;

}

:root {
  --tilesize: 50px;

  --canvasx:0;
  --canvasy:0;

  --btncolour: #00850d;
  --bgcolour: #674ea7;
  --seacolour:#1e7cb8;
}

html {
  height: 100%;
}

body {
  font-family: 'VT323', monospace; 

  font-size: 3vmin;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  margin:0;
  overflow: hidden;
  background-color: var(--bgcolour);
  user-select:none;
  height: 100%;
}

h1 {
  font-size: 10vmin;
}

h2 {
  line-height: 2.5vmin;
  font-size: 5vmin;
}



/* GAME UI ELEMENTS */

  #game-window {
    display:none;
    height: 100%;
  }

  #game-ui {
    /* float:left; */
    /* position:absolute; */
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8vmin 8fr 8vmin;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: var(--seacolour);
  }

  #game-ui-topbar {
    display:grid;
    grid-column: 1 / span 2;
    justify-items: center;
    align-items: center;
    grid-row: 1;
    row-gap: 10px;
    background-color: var(--seacolour);
  }

  #game-ui-float-bar .ui-btn {
    height: 7.5vmin;
    width:9.5vmin;
  }

  #game-ui-float-bar {
    display: grid;
    grid-template-columns: 1fr 8vmin 8vmin 8vmin;
    grid-template-rows: 8vmin;
    width: 100%;
    position: absolute;
  }

  #game-ui-float-bar .ui-btn .fa {
  font-size: 5vmin;
  }


  .ui-btn {
    color:white;
    background-color: var(--btncolour);
    border: none;
    text-decoration: none;
    border-radius: 2vmin;
  }  

  #game-ui-bottom-bar {
    display: grid;
    width: 50%;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
    grid-row: 3;
    grid-column: 1 / span 2;
    background-color: var(--seacolour);
  }

  #game-ui-bottom-bar .ui-btn {
    height:7.5vmin;
    width:20vmin;
    justify-self: center;
    align-self: center;
  }

  #game-ui-bottom-bar .ui-btn .fa {
    font-size: 5vmin;
  }
  

  .game-text {
    grid-row: 1;
    justify-self: center;
    align-self: center;
    color:white;
  }


  #canvas {
    position:relative;
    background-color:var(--seacolour);
    grid-row: 2;
    grid-column: 1 / span 2;
    width: 100%;
    height: 100%;

  }

  #canvas canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  }

  #fg-canvas {
    z-index: 1;

  }

  #bg-canvas {
    z-index: 0
  }

#game-player-inventory {
  display: none;
  background-color: brown;
  grid-row: 2;
  grid-column: 1 / span 2;
  padding: 10px;
}

#inventory-grid {
  display:grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 90%;
  gap: 10px 10px;

}



.inventory-slot {
/* grid-row: 1; */
background-color: burlywood;
}

#handSlot1 {
  margin-right: -10px
}




.slot-item {
  position:absolute;
  cursor:move;
  z-index:10;
}


#game-shop {
  display:none;
  background-color: brown;
  grid-row:2;
  grid-column: 1 / span 2;
  padding: 10px;
}

#shop-inventory-grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(4,1fr);
  
  width: 100%;
  height: 90%;
  gap: 10px 10px;
}




.ui-menu-btn {
display:inline-block;   
padding: 0.5em 1em;
color: white;
background-color:var(--btncolour);
border-radius: 3vmin;
border: none;
border-bottom: solid 5px brown;
text-decoration: none;
width: 22vmin;
height: 22vmin;
align-self: center;
justify-items: center;
align-items: center;


/* display: inline-block;
text-decoration: none;
color: rgba(152, 152, 152, 0.43);
width: 80px;
height: 80px;
line-height: 80px;
font-size: 40px;
border-radius: 50%;
text-align: center;
vertical-align: middle;
overflow: hidden;
font-weight: bold;
background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
border-bottom: solid 2px #b5b5b5; */

}

.ui-menu-btn:active {/*on Click*/
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*Move down*/
  border-bottom: none;/*disappears*/
}

.ui-menu-btn .fa {
  font-size: 12vmin;
}

#main-menu {
  display:block;
  width:100%;
  height:100%;
}
#menu-grid{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 25vmin 1fr;
    height:100%;
}
#menu-btns {
  grid-row: 2;
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 25vmin 25vmin 25vmin 25vmin 1fr;
  align-items: center;
  justify-items: center;
  /* column-gap: 10vmin; */
}


#menu-titles {
  text-align: center;
  align-self: center;
  color: white;
}