* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;

}




:root {
  --tilesize: 50px;

  --canvasx:0;
  --canvasy:0;
  
  --screen-x:0;
  --screen-y:0;
  --screen-x-15:0;
  --screen-y-15:0;

  --btncolour: #00850d;
  --bgcolour: #674ea7;
  --seacolour:#1e7cb8;
}

html {
  min-height:100%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
}


body {
  min-height:100%;
  font-family: 'VT323', monospace; 
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  margin:0;
  overflow: hidden;
  background-color: var(--bgcolour);
  user-select:none;
}

h1 {
  font-size: 8vh;
}

h2, a {
  line-height: 2vh;
  font-size: 4vh;
}


h3 {
  font-size:2vh;
  overflow-wrap: break-word;
}



/* GAME UI ELEMENTS */

  #game-window {
    display:none;
    height: 100%;
  }

  #game-ui {
    /* float:left; */
    /* position:absolute; */
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7.5vh 85vh 7.5vh;
    width: 100%;
    height: 100%;
    /* align-items: center; */
    /* text-align: center; */
    /* justify-content: center; */
    background-color: var(--seacolour);
  }

  #game-ui-dyn-grid {
    background-color: black;
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(50vh,1fr)); 
    grid-template-rows: 42.5vh 42.5vh;
    grid-row: 2;
    text-align: center;
    background-color: brown;
    align-self: center;
  }

  #game-ui-topbar {
    display:grid;
    grid-column: 1 / span 2;
    justify-items: center;
    align-items: center;
    grid-row: 1;
    row-gap: 1vh;
    background-color: var(--seacolour);
  }

  #game-ui-float-topbar .ui-btn {
    height: 7vh;
    width: 7vh;
  }

  #game-ui-float-topbar {
    display: grid;
    grid-template-columns: 1fr 7.5vh 7.5vh 7.5vh;
    grid-template-rows: 7.5vh;
    top: 0.25vh;
    width: 100%;
    position: absolute;
  }

  #game-ui-float-topbar .ui-btn .fa {
  font-size: 3.75vh;
  }


  .ui-btn {
    color:white;
    background-color: var(--btncolour);
    border: none;
    text-decoration: none;
    border-radius: 10px;
  }  

  #game-ui-float-bottombar {
    float:left;
    position:absolute;
    top: 92.5vh;
    display: grid;
    width: 100%;
    grid-template-rows: 7.5vh;
    grid-template-columns: 1fr 16vh 16vh 1fr;
    background-color: var(--seacolour);
  }

  #game-ui-float-bottombar .ui-btn {
    height:7vh;
    width:14vh;
    justify-self: center;
    align-self: center;

  }

  #game-ui-float-bottombar .ui-btn:first-child {
    grid-column: 2;
  }
  #game-ui-float-bottombar .ui-btn:nth-child(2) {
    grid-column: 3;
  }



  #game-ui-float-bottombar .ui-btn .fa {
    font-size: 3.75vh;
  }
  

  .game-text {
    grid-row: 1;
    justify-self: center;
    align-self: center;
    color:white;
  }


  #canvas {
    position:relative;
    background-color:var(--seacolour);
    grid-row: 2;
    grid-column: 1 / span 2;
    width: 100%;
    height: 100%;

  }

  #canvas canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  }

  #fg-canvas {
    z-index: 1;

  }

  #bg-canvas {
    z-index: 0
  }

#game-player-inventory {
  display: none;
  background-color: brown;
  padding: 10px;
  height:45vh;
}

#inventory-grid {
  display:grid;
  grid-template-rows: repeat(3,10vh);
  grid-template-columns: repeat(auto-fit,minmax(10vh,1fr));
  width: 100%;
  height: auto;
  gap: 0.5vh 0.5vh;
  justify-content: center;
}



.inventory-slot {
/* grid-row: 1; */
background-color: burlywood;
overflow-wrap: break-word;
text-align: center;
}

#handSlot1 {
  margin-right: -10px;
}




.slot-item {
  position:relative;
  cursor:move;
  z-index:10;
  font-size: 3vmax;
  overflow-wrap: break-word;
}


#game-shop {
  display:none;
  background-color: brown;
  padding: 10px;
  height:72.5vh;
}

#shop-inventory-grid {
  display: grid;
  grid-template-rows: repeat(10,10vh);
  grid-template-columns: repeat(auto-fit,minmax(10vh,1fr));
  width: 100%;
  gap: 0.5vh 0.5vh;
  text-align: center;
}




.ui-menu-btn {
display:inline-block;   
padding: 0.5em 1em;
color: white;
background-color:var(--btncolour);
border-radius: 10px;
border: none;
border-bottom: solid 5px brown;
text-decoration: none;
width: 22vmin;
height: 22vmin;
align-self: center;
justify-items: center;
align-items: center;


/* display: inline-block;
text-decoration: none;
color: rgba(152, 152, 152, 0.43);
width: 80px;
height: 80px;
line-height: 80px;
font-size: 40px;
border-radius: 50%;
text-align: center;
vertical-align: middle;
overflow: hidden;
font-weight: bold;
background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
border-bottom: solid 2px #b5b5b5; */

}

.ui-menu-btn:active {/*on Click*/
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*Move down*/
  border-bottom: none;/*disappears*/
}

.ui-menu-btn .fa {
  font-size: 12vmin;
}

#main-menu {
  display:block;
  width:100%;
  height:100%;
}
#menu-grid{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 25vmin 1fr;
    height:100%;
}
#menu-btns {
  grid-row: 2;
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 20vw 20vw 20vw 20vw 1fr;
  align-items: center;
  justify-items: center;
  /* column-gap: 10vmin; */
}


#menu-titles {
  text-align: center;
  align-self: center;
  color: white;
}